/* ===============================================
  共通セクション
 =============================================== */
.wrapper {
  width: 100%; /* 親要素に合わせる */
  max-width: 1280px;
}

/* ===============================================
  メインビジュアル　// プレート（前菜の盛り合わせ）
 =============================================== */

.plate-main-visual-all-container {
  margin-bottom: 77px;
}

.plate-img {
  height: 640px;
  object-fit: cover;
}

/* ===============================================
  Recipe-Diaryのタイトルと説明
 =============================================== */
