/* ===============================================
  共通セクション
 =============================================== */
.wrapper {
  width: 100%; /* 親要素に合わせる */
  max-width: 1280px;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 auto; /* 横中央揃え */
}

/* ===============================================
  メインビジュアル　// プレート（前菜の盛り合わせ）
 =============================================== */

.plate-main-visual-all-container {
  margin-bottom: 77px;
}

.plate-img {
  height: 640px;
  object-fit: cover;
  display: block; /* 追加：imgのinline要素による余白を消す */
}

/* ===============================================
  Recipe-Diaryのタイトルと説明
 =============================================== */
.recipe-diary-all-container {
  margin-bottom: 82px;
}

.recipe-diary-word {
  font-size: 34px;
  font-weight: bold;
  width: 210px;
  /* height: 49px; */
  margin: 0 auto 14px;
}

.sp-br {
  display: none;
}

.recipe-diary-discription {
  width: 620px;
  /* height: 77px; */
  font-size: 17px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;

  /* letter-spacing: -1px; 文字間隔を詰める */
}

/* ===============================================
  3種類の画像セクション
 =============================================== */

.three-plate-all-container {
  margin-bottom: 64px;
}

/* 3つの画像を横並びにするためのコンテナ */
.three-plate-container {
  display: flex;
  justify-content: center;
}

.plate-item-img {
  flex: 1;
  display: block;
  width: 427px;
  height: 533px;
  object-fit: cover;
}

/* ===============================================
  レシピ一覧をみる
 =============================================== */
.see-recipe-all-container {
  margin-bottom: 104px;
}

.rectangle-box {
  width: 248px;
  height: 53px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #000000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.see-recipe-link {
  font-size: 14px;
  color: #000000;
}

/* ===============================================
  フッターセクション
 =============================================== */

.three-word-container {
  display: flex;
  justify-content: center;
  gap: 21px;
  margin-bottom: 19px;
}

.footer-word-sns {
  font-size: 12px;
}

.footer-word-instagram {
  width: 56px;
}

.footer-word-twitter {
  width: 40px;
}

.footer-word-facebook {
  width: 54px;
}

.end-word {
  width: 112px;
  height: 17px;
  font-size: 12px;
  line-height: 21px;
  text-align: left;
  color: #2b2a27;
  margin: 0 auto 21px auto;
}

/* ===================================================
 =====================================================
  ★レスポンシブ開始　375px 
 =====================================================
 ==================================================== */

@media screen and (max-width: 376px) {
  /* ===============================================
  ★レスポンシブ　メインビジュアル　// プレート（前菜の盛り合わせ）
 =============================================== */

  .plate-main-visual-all-container {
    margin-bottom: 72px;
  }

  .plate-img {
    height: 600px;
    object-fit: cover;
    display: block;
  }

  /* ===============================================
 ★レスポンシブ　 Recipe-Diaryのタイトルと説明
 =============================================== */
  .recipe-diary-all-container {
    margin-bottom: 77px;
  }

  .recipe-diary-word {
    font-size: 32px;
    font-weight: bold;
    width: 197px;
    height: 46px;
    margin: 0 auto 14px auto;

    letter-spacing: -1px; /* 文字間隔を詰める */
    /* line-height: 46px; 高さに合わせて中央揃え */
  }

  .pc-br {
    display: none;
  }

  .recipe-diary-discription {
    display: block;
    width: 320px;
    /* height: 96px; */
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    text-align: center;
  }

  /* ===============================================
  ★レスポンシブ 3種類の画像セクション
 =============================================== */

  .three-plate-all-container {
    margin-bottom: 60px;
  }

  /* 3つの画像を横並びにするためのコンテナ */
  .three-plate-container {
    display: flex;
    flex-direction: column;

    height: 1500px;
    /* justify-content: center; */
  }

  .plate-item-img {
    display: block;
    flex: 1;
    width: 375px;
    height: 500px;
    object-fit: cover;
  }

  /* ===============================================
  ★レスポンシブ　レシピ一覧をみる
 =============================================== */
  .see-recipe-all-container {
    margin-bottom: 97px;
  }

  .rectangle-box {
    width: 232px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #000000;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ===============================================
  ★レスポンシブ フッターセクション
 =============================================== */
}
